#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
# old format: keyboard uk
# new format:
keyboard --vckeymap=gb --xlayouts='gb'
# Root password
rootpw --iscrypted $1$aGy5gP9I$KfyHitoCB1lN6KqpuQppS1
# System timezone
timezone Europe/Berlin
# System language
lang en_GB
user --groups=wheel --name=john --password=$6$bkm3mgS4H7reMAY7$FdUiYkpUYSIllJ0KWJo2t4riGmUwETw2aQ5.3oA3hDdX7zeUQamlH7vijii2jueLfxDr1rd.CFpWdD.LZhjcT. --iscrypted --gecos="john"
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing

ignoredisk --only-use=vda
# Network information
network  --bootproto=dhcp --device=eth0
network  --bootproto=dhcp --device=None
# Reboot after installation
reboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=none --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end
